html {

	background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#31bbd4));
	background: -moz-linear-gradient(270deg, #000, #31bbd4);

	/*height: 100%;*/
	width: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
}


h3 {
	font-size: 1.8em;
}


h4 {
	font-size: 1.6em;
}


h5 {
	font-size: 1.4em;
}

h6 {
	font-size: 1.2em;
}


/* General layout classes */
.roundedbox {
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	border-radius: 1em;
}

.linkNoDecoration {
	text-decoration: none;
}

a, a:visited {
	color: #31bbd4;
}

a:hover {
	color: rgba(39,181,212,0.45);
}

#header {
	width: 100%;
	border: 1px solid #000;
	height: 180px;
	text-align: center;
	color: #fff;
	background: url('img/starsForeground.png') repeat-x scroll -100% 0 transparent;
}

#outerStarContainer {
	background: url('img/starsBackground.png') repeat-x scroll -50% 0 transparent;
	height: 180px;
}

#innerStarContainer {
	background: url('img/starsMiddleground.png') repeat-x scroll -10% 0 transparent;
	height: 180px;
}
 
#contentContainer {
	background: #fff;
	margin: auto;
	margin-top: 50px;
	height: 50%;
	width: 80%;
	overflow: auto;
	padding: 10px;
}

#content {
	float: left;
	width: 75%;
}

.entry p {
	line-height: 1.3em;
}

#sidebar {
	float: right;
	width: 23%;
}

#footer {
	margin-top: 30px;
	width: 100%;
	background: #52910E;
	height: 100px;
}

.group:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

