html {
	background: url('../img/heaven.png') repeat-x #00d8ff;
	background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#00d8ff));
	background: -moz-linear-gradient(270deg, #000, #00d8ff);

	/*height: 100%;*/
	width: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin: 20px 0 4px 0;
	color: #52910E;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
}


h3 {
	font-size: 1.8em;
}


h4 {
	font-size: 1.6em;
}


h5 {
	font-size: 1.4em;
}

h6 {
	font-size: 1.2em;
}


/* General layout classes */
.roundedbox {
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	border-radius: 1em;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.aligncenter, div.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption {
	background-color: #f3f3f3;
	border: 1px solid #ddd;
	-khtml-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px; /* optional rounded corners for browsers that support it */
	margin: 10px;
	padding-top: 4px;
	text-align: center;
}
.wp-caption img {
	border: 0 none;
	margin: 0;
	padding: 0;
}
.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	margin: 0;
	padding: 0 4px 5px;
}


.small {
	font-size: 0.8em;
}

.link-no-decoration {
	text-decoration: none;
}

a, a:visited {
	/*color: #31bbd4;*/
	color: #52910E;
}

a:hover {
	color: rgba(82,145,14,0.45);
}

.align-text-right {
	text-align: right;
}

#header {
	width: 100%;
	height: 180px;
	text-align: center;
	color: #fff;
	background: url('../img/starsForeground.png') repeat-x scroll -100% 0 transparent;
}

#outer-star-container {
	background: url('../img/starsBackground.png') repeat-x scroll -50% 0 transparent;
	height: 180px;
}

#inner-star-container {
	background: url('../img/starsMiddleground.png') repeat-x scroll -10% 0 transparent;
	height: 180px;
}

#header-wrap {
	margin: auto;
	padding-top: 100px;
	width: 75%;
}

#header-wrap h1 a, #header-wrap h1 a:hover, #header-wrap h1 a:visited {
	letter-spacing: -0.1em;
	color: #fff;
}

#div-navigation {
	margin: auto; 
	width: 75%;
}

#div-navigation li {
	float: left;
	margin-top: 15px;
	margin-right: 15px;
}

#div-navigation ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#div-navigation ul li a, #div-navigation ul li a:visited, #div-navigation ul li a:hover {
	color: #fff;
}
 
#content-container {
	background: #fff;
	margin: auto;
	margin-top: 50px;
	height: 50%;
	width: 75%;
	overflow: auto;
	padding: 10px;
}

#content {
	float: left;
	width: 70%;
}

.entry-header {
	margin: 19px 0 1px 0;
}

.entry {
	clear: both;
	margin-top: 30px;
}

.entry p {
	line-height: 1.5em;
}

.postmetadata {
	font-style: italic;
	font-size: 0.9em;
	margin-top: 5px;
}

/* sidebar */

#sidebar {
	float: right;
	width: 27%;
}

.widget-title {
	color: #52910E;;
}

#spacer {
	background: url(../img/grass.png) repeat-x;
	height: 20px;
	margin-top: 30px;
}

#footer {
	width: 100%;
	background: #52910E;
	height: 100px;
}

#footer-wrap {
	float: right;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-size: 0.9em;
	color: #fff;
	margin-top: 30px;
	margin-right: 20px;
}

#footer a, #footer a:hover, #footer a:visited {
	color: #fff;
	text-decoration: none;
}

#commentform p {
	margin: 5px 0;
}

.error404 {
	height: 300px;
}

.group:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

