body {
	font-size: 70%;
}

#header {
	background: none;
}

#outerStarContainer {
	background: none;
}

#innerStarContainer {
	background: none;
}

#headerWrap {
	width: 95%;
}

.tagline {
	font-size: 90% ;
}

#sidebar {
	display: none;
}

.Comments {
	display: none;
}

#contentContainer {
	width: 95%;
}

#content {
	width: 100%;
}

#div-navigation ul li:last-child,
#div-navigation ul li:nth-child(3) {
	display: none;
}

.avatar {
	display: none;
}

.fn {
	padding-left: 0px;
}

.comment-author {
	width: 35%;
}

.commentmetadata {
	width: 50%;
	float: right;
}